*
{
    padding: 0%;
    margin: 0%;
}
body
{
    background: black;
}
.container
{
    text-align: center;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
}
.text
{
    color: white;
    text-transform: uppercase;
    font-size: 05px;
    font-weight: 800;
    letter-spacing: 5px;
    animation: pop 3s 2;
    transition: 2s ease-in-out;
}

@keyframes pop
{
    0%
    {
        color: black
    }
    20%
    {
        color: white;
    }
    40%
    {
        font-size: 10px;
    }
    60%
    {
        font-size: 20px;
    }
    80%
    {
        font-size: 50px;
    }

}