*
{
    padding: 0%;
    margin: 0%;
}
body
{
    background: black;
}
.container
{
    text-align: center;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
}
.text
{
    color: white;
    text-transform: uppercase;
    font-size: 05px;
    font-weight: 800;
    letter-spacing: 20px;
}
.text:hover{
    animation: pop 4s 1;
}

@keyframes pop
{
    0%
    {
        color: white;
        font-size: 6px;
    }
    20%
    {
        color: white;
        font-size: 8px;
    }
    40%
    {
        font-size: 10px;
        letter-spacing: 8px;
    }
    60%
    {
        font-size: 20px;
        transition: 0.2s all ease;
        letter-spacing: 50px;
    }
    80%
    {
        font-size: 50px;
    }
    100%
    {
        font-size: 60px;
    }
}