* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url(https://media.istockphoto.com/photos/blue-abstract-background-or-texture-picture-id1138395421?k=6&m=1138395421&s=612x612&w=0&h=bJ1SRWujCgg3QWzkGPgaRiArNYohPl7-Wc4p_Fa_cyA=);
  background-repeat: round;
}

html .header {
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-animation-name: headerAnim;
          animation-name: headerAnim;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  text-shadow: 2px 2px 4px grey;
}

html .container {
  text-align: center;
  margin-top: 30px;
}

html .container a {
  color: black;
  text-decoration: none;
}

html .container a:hover,
html .container a :active {
  color: yellow;
}

html .container .anim1 {
  padding: 15%;
  width: auto;
  background-color: #1abc9c;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-size: 3vw;
}

html .container .anim1:hover {
  -webkit-animation-name: containerInnerAnim;
          animation-name: containerInnerAnim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

html .container .anim2 {
  padding: 15%;
  width: auto;
  background-color: #5499c7;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-size: 3vw;
}

html .container .anim2:hover {
  -webkit-animation-name: containerInnerAnim;
          animation-name: containerInnerAnim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

html .container .anim3 {
  padding: 15%;
  width: auto;
  background-color: #ff5733;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-size: 3vw;
}

html .container .anim3:hover {
  -webkit-animation-name: containerInnerAnim;
          animation-name: containerInnerAnim;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

html footer {
  background-color: grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

html footer a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: white;
  letter-spacing: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

html footer .gh-link #src {
  display: block;
}

html footer .gh-link #download {
  display: block;
}

@-webkit-keyframes headerAnim {
  from {
    opacity: 50;
    color: red;
    letter-spacing: 4px;
  }
  60% {
    color: darkcyan;
  }
  80% {
    color: blue;
  }
  to {
    opacity: 100;
    color: black;
  }
}

@keyframes headerAnim {
  from {
    opacity: 50;
    color: red;
    letter-spacing: 4px;
  }
  60% {
    color: darkcyan;
  }
  80% {
    color: blue;
  }
  to {
    opacity: 100;
    color: black;
  }
}

@-webkit-keyframes containerInnerAnim {
  from {
    font-size: 3vw;
  }
  to {
    font-size: 5vw;
  }
}

@keyframes containerInnerAnim {
  from {
    font-size: 3vw;
  }
  to {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=style.css.map */